.selected {
  background-color:rgb(102, 255, 102);
  border: 2px solid rgb(109, 214, 109);
}

.selected:hover {
  background-color:rgb(102, 255, 102);
  border: 2px solid rgb(109, 214, 109);
  cursor: not-allowed;
}

.ingredient-card-img {
  width: 200px;
  height: 150px;
}

.burger-display-container {
  height: 400px;
  width: 450px;
  background: #aaade2;
}

.remove-item-btn {
  background-color: red;
  border-radius: 1.5em;
  width: 2em;
  height: 2em;
  border: 2px solid black;
}

.building-burger {
  position: absolute;
  width: 400px;
  height: 400px;
}

.save-img-btn {
  width: 450px;
}

.error {
  color:red;
}

.toppings {
  height: 200px;
}

.selection-list-item, .card-title {
  display: flex;
}

.selected-price, .ingredient-price {
  display: flex;
  flex: 10%;
  font-style: italic;
  color: rgb(128, 127, 127);
}

.selected-name, .ingredient-name {
  display: flex;
  flex: 60%;
}

.total {
  text-align: right;
}

#topping-0 {
  padding: 70px 0px;
  z-index: 3;
}

#topping-1 {
  padding: 80px 0px;
  z-index: 4;
}

#topping-2 {
  padding: 90px 0px;
  z-index: 5;
}

#burger-base {
  padding-top: 150px;
  z-index: 0;
}

#burger-lid {
  padding-bottom: 150px;
  z-index: 10;
}

#protein-main {
  padding-top: 100px;
  z-index: 2;
}