.selected {
  background-color:rgb(102, 255, 102);
  border: 2px solid rgb(109, 214, 109);
}

.selected:hover {
  background-color:rgb(102, 255, 102);
  border: 2px solid rgb(109, 214, 109);
  cursor: not-allowed;
}

.ingredient-card-img {
  width: 200;
  height: 150;
}

.remove-item-btn {
  background-color: red;
  border-radius: 1.5em;
  width: 2em;
  height: 2em;
  border: 2px solid black;
}

.building-burger {
  position: absolute;
  width: 400px;
  height: 400px;
}

.toppings {
  height: 200px;
}

#topping-0 {
  padding: 70 0;
  z-index: 3;
}

#topping-1 {
  padding: 80 0;
  z-index: 4;
}

#topping-2 {
  padding: 90 0;
  z-index: 5;
}

#burger-base {
  padding-top: 150px;
  z-index: 0;
}

#burger-lid {
  padding-bottom: 150px;
  z-index: 10;
}

#protein-main {
  z-index: 2;
  padding-top: 100px;
}